:root {
--btn--hover--backcolor:#878a98;
--dotted--color:#29B4E8;
--loader--backcolor:#FFFFFF;
--grid--highlight--color:gray;
--btn--color:#29B4E8 ;
--btn--hover--color:#FFFFFF;
--filter--btn--radius--ui:1px;
--gridplaceholder--bordercolor:#878a98;
--btn--backcolor:#505150;
--main--backcolor:#FFFFFF;
--loader--spin:#29B4E8;
--header--backcolor:#505150;
--griditem--margin:3px;
--griditem--bordercolor:#9A9A9A2B;
--header--color:#29B4E8;
--griditem--margin--ui:5px;
--griditem--backcolor:#FFFFFF;
}