/* Made with love by Mutiullah Samim*/

@import url('https://fonts.googleapis.com/css?family=Numans');


html,body{
height: 100%;
font-family: 'Numans', sans-serif;
background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
background-size: cover;
background-repeat: no-repeat;
display: inline-grid;

}
.container{
height: 100%;
align-content: center;
}

.card{
height: 210px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #27AEDF;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: -50px;
top: -60px;
}

.input-group-prepend span{
width: 50px;
background-color: #27AEDF;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #27AEDF;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}

#game{
  display: none;
}







/* GAME */


#game {
  padding: 0;
  margin: 0;
  /* font-family: 'Itim', cursive; */
}

#game .background {
  background-color: #12181B;
  height: 100vh;
  padding-top: 1px;
}

#game .title {
  color: white;
  text-align: center;
  font-size: 40px;
  margin-top: 10%;
}

#game .display {
  color: white;
  font-size: 45px;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

#game .hide {
  display: none;
}

#game .cvas {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 33% 33% 33%;
  max-width: 300px;

}

#game .tile {
  border: 1px solid white;
  min-width: 100px;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  cursor: pointer;
}

.playerO {
  color: #09C372;
}

#game .playerX {
  color: #498AFB;
}

#game .controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}

#game .controls button {
  color: white;
  padding: 8px;
  border-radius: 8px;
  border: none;
  font-size: 20px;
  margin-left: 1em;
  cursor: pointer;
}

#game #reset {
  background-color: #498AFB;
}